{% extends 'base.html' %}
{% load static %}

{% block title %} Update Work Area {% endblock title %}

{% block content %}

{% include 'components/dashboard.html' %}
            
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg mt-16">
                    <h3 class="mt-2 text-lg font-medium text-center dark:text-dark-txt text-gray-700">Update WorkArea</h3>
                    <form method="POST" class="text-center">
                        {% csrf_token %}
                        <label class="block text-sm font-medium dark:text-dark-txt text-gray-700">
                            Work Area Name
                        </label>
                        {{form.name}}

                        <div class="mt-5 mb-5">
                            <button type="submit" class="px-3 py-2 bg-green-500 rounded-lg text-white">Update</button>
                            <a href="{% url 'workArea:workAreas' %}" class="px-3 py-2.5 bg-yellow-500 rounded-lg text-white">Return</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>


{% endblock content %}