<nav class="bg-gray-100 font-sans w-full sticky m-0">
	<div class="bg-white shadow">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between py-4">
        <div id="btn">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-purple-500" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 008.716-6.747M12 21a9.004 9.004 0 01-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 017.843 4.582M12 3a8.997 8.997 0 00-7.843 4.582m15.686 0A11.953 11.953 0 0112 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0121 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0112 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 013 12c0-1.605.42-3.113 1.157-4.418" />
          </svg>   
        </div>

        <div class="hidden sm:flex sm:items-center">
          {% if user.is_authenticated %}
            <a href="{% url 'employee:employees' %}" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Employees</a>
            <a href="{% url 'boss:bosses' %}" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Bosses</a>
            <a href="{% url 'workArea:workAreas' %}" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mr-4">Work Areas</a>
          {% else %}
            <a href="{% url 'accounts:login'%}" class="text-gray-800 text-sm font-semibold hover:text-purple-600">Welcome</a>
          {% endif %}
        </div>

        <div class="hidden sm:flex sm:items-center">
          {% if user.is_authenticated %}
            <a href="{% url 'accounts:logout' %}" class="text-gray-800 text-sm font-semibold border px-4 py-2 rounded-lg hover:text-purple-600 hover:border-purple-600">Logout</a>
          {% else %}
            <a href="{% url 'accounts:login' %}" class="text-gray-800 text-sm font-semibold border px-4 py-2 rounded-lg hover:text-purple-600 hover:border-purple-600">Login</a>
          {% endif %}
        </div>

      </div>
      
      <div id="main" class="block sm:hidden bg-white border-t-2 py-2">
        <div class="flex flex-col">
          {% if user.is_authenticated %}
            <a href="{% url 'employee:employees' %}" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1">Employees</a>
            <a href="{% url 'boss:bosses' %}" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1">Bosses</a>
            <a href="{% url 'workArea:workAreas' %}" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1">Work Areas</a>
          {% else %}
          <a href="{% url 'accounts:login' %}" class="text-gray-800 text-sm font-semibold hover:text-purple-600 mb-1">Welcome</a>
          {% endif %}
          <div class="flex justify-between items-center border-t-2 pt-2">
            {% if user.is_authenticated %}
              <a href="{% url 'accounts:logout' %}" class="text-gray-800 text-sm font-semibold border px-4 py-1 rounded-lg hover:text-purple-600 hover:border-purple-600">Logout</a>
            {% else %}
              <a href="{% url 'accounts:login' %}" class="text-gray-800 text-sm font-semibold border px-4 py-1 rounded-lg hover:text-purple-600 hover:border-purple-600">Login</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>